.header_container {
  display: flex;
  height: 110px;
}

.logo_img {
  max-width: 80px;
  /* i need to input code to restrict logoImage of scaling */
}

.header_name {
  color: red;
  text-align: right;
  margin-right: 20%; /*adjust this*/
  width: 100%;
}

.header_title {
  border-bottom: 3px solid blue;
  text-align: right;
  text-decoration: underline;
}

.hero_img {
  min-width: 390px;
  max-width: 80%;
  border-radius: 10px;
}


.container, .hero_img{
  display: inline-block;
}

.skills_img {
  max-width: 360px;
  border-radius: 10px;

}

.skills_name {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.skills_text {
  text-align: center;
  color: blue;
}
